
:root {
  --black-color: 0, 0%, 0%;
  --white-color: 0, 0%, 100%;
  --blue-color: 246, 100%, 30%;

  --primary-color:  hsla(var(--blue-color), 0.9);
  --body-color:     hsla(var(--black-color), 1);
  --font-color:     hsla(var(--white-color), 0.9);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 4em;
  background: var(--body-color);
  color: var(--font-color);
}

.container {
  width: 80%;
  margin: 0 auto;
}


@media (max-width: 575.99px) { 
  .container {
    width: 95%;
    margin: 0 auto;
  }
}

@media (min-width: 576px) { 
  .container {
    width: 95%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}
